*{
    margin:0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 100px;
    background-color: #121212;
    color: rgb(255, 255, 255);
    display:flex;
    align-items: center;
}
.nav-logo{
    height:80px;
    width:80px;
    margin-top:0px;
    margin-left: 40px;

}
.logo{
    background-image: url("tmwhite.png");
    height:80px;
    width: 80px;
    background-size: cover;
}
.nav-name{
    height: 25px;
    width: 150px;
    margin-bottom: -30px;
    display: flex;
}
.fn{
    color: rgb(171, 171, 171);
    font-size: 1.5rem;
}
.mn{
    color:rgb(171, 171, 171);
    font-size: 60px;
    margin-top: -25px;
}
.ln{
    color: rgb(231, 231, 231);
    font-size: 1.5rem;
}
.Home{
    height:50px;
    width:150px;
    margin-left:200px;
    margin-top:40px;
}
.homebutton{
    background-color:#00000000;
    color: #ffffff;
    height: 50px;
    width: 150px;
    border-color: transparent;
    font-size: 20px;
    font-style:oblique;
    cursor: pointer;
}
.border{
    border:1.8px solid white;
    border-radius: 15px;
}
.border:hover{
    border:2px solid rgb(255, 252, 85);;
    border-radius: 15px;
}
.borderp{
    border-bottom:1.8px solid white;
}
.navbar2{
    height:150px;
    display:flex;
    background-color: #000000;
}
.tmindia{
    margin-top:70px;
    margin-left: 120px;
    color:#ffffff;
    font-size: 35px;
    font-weight: 700;
}
.sector{
    height:300px;
    width:1600px;
    display: flex;
    margin-left: 120px;
    border-top:2px solid white;
    border-bottom: 2px solid white;
}
.navbar3{
    height:753px;
    display:flex;
    background-color: #000000;
}
.sec1{
    margin-left:20px;
    height:300px;
    width:400px;
}
.animation{
    color: #ffffff;
    font-weight: 600;
    font-size:25px;
    text-align: center;
    margin-top:15px;
}
.animationop{
    height:200px;
    margin-top:20px;
    border-top:2px solid #ffffff;
}
.animator{
    background-color: transparent;
    color:rgb(187, 187, 187);
    font-size: 20px;
    margin-left: 150px;
    border:transparent;
    margin-top:10px;
}
.borderop{
    border:transparent;
}
.borderop:hover{
    color:rgb(255, 232, 100);
}
.sec2{
    margin-left:170px;
    height:300px;
    width:400px;
}
.Art{
    color: #ffffff;
    font-weight: 600;
    font-size:25px;
    text-align: center;
    margin-top:15px;
}
.Artop{
    height:200px;
    margin-top:20px;
    border-top:2px solid #ffffff;
}
.Artist{
    background-color: transparent;
    color:rgb(187, 187, 187);
    font-size: 20px;
    margin-left: 150px;
    border:transparent;
    margin-top:10px;
}
.sec3{
    margin-left:170px;
    height:300px;
    width:400px;
}
.programming{
    color: #ffffff;
    font-weight: 600;
    font-size:25px;
    text-align: center;
    margin-top:15px;
}
.progop{
    height:200px;
    margin-top:20px;
    border-top:2px solid #ffffff;
}
.programmer{
    background-color: transparent;
    color:rgb(187, 187, 187);
    font-size: 20px;
    margin-left: 150px;
    border:transparent;
    margin-top:10px;
}